.card-contact{
    .header{
        .title{
            margin: 10px 0 10px;
        }
    }
}
.contacts-title {
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 0.3rem;
}
.contact-phone,
.contact-email {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
}